@font-face {
  font-family: "Poppins-bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-light";
  src: url("./assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}
.dot {
  position: absolute;
  top: -4px;
  right: -7px;
}
.wallet {
  background: rgb(25, 28, 108, 0.2);
}
.money {
  background: rgb(75, 176, 101, 0.2);
}
.spend {
  background: rgb(240, 124, 125, 0.2);
}
.apexcharts-text.apexcharts-datalabel-label {
  fill: #636363;
  font-weight: bold;
  font-size: 8px;
}
.apexcharts-text.apexcharts-datalabel-value {
  fill: #000000;
  font-weight: bold;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7fafc;
}

.App {
  min-height: 100%;
  background-color: #f7fafc;
}
